
    <h1><a href="<%= root_path %>">TIMEWANGLER</a></h1>
    <nav>
      <% if current_user %>
      <ol>
        <li><%= link_to 'Profile', profile_path %></li>
        <li class="play"><span><%= link_to 'Play', join_game_path, method: 'POST' %></span></li>
        <li><%= link_to 'All Cards', cards_path %></li>
        <li><%= link_to 'Your Deck', deck_path(current_user.deck) %></li>
        <li><%= link_to 'Logout', logout_path %></li>

      </ol>
      <% else %>
      <ol>
        <li><%= link_to 'Register', new_user_path %></li>
        <li><%= link_to 'Login', login_path %></li>
      </ol>
      <% end %>
    </nav>

