<center><%= flash.now[:error] %></center>

<h1>Welcome back, <%= @user.username %>!</h1>

<div class="profile">
  
  <div class="user_stats">
    <h4>Your Stats</h4><br>


    <table class="u-full-width">
      <thead>
        <tr>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win-Loss Ratio:</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th><%= @wins %></th>
          <th><%= @losses %></th>
          <th><%= @ratio %></th>
        </tr>
      </tbody>
    </table>

    <ol><br>
      <h3>Your Last 20 Games:</h3>
        <% @user.last_20_games.each do |game| %>
          <li>Game ID #<%= game.id %>: <%= User.find(game.player_one_id).username %> VS. <%= User.find(game.player_two_id).username %></li>
          <p>Winner: <%= User.find(game.winner_id).username %></p>
         <% end %>
    </ol>
  </div>

    <h1>Your Game History</h1>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Game ID #</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Winner</th>
        </tr>
      </thead>
      <% @user.last_20_games.each do |game| %>
      <tbody>
        <tr>
          <td><%= game.id %></td>
          <td><%= User.find(game.player_one_id).username %></td>
          <td><%= User.find(game.player_two_id).username %></td>
          <td><%= game.winner.username %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  

</table>
</div>

