<%= flash.now[:error] %>

<h1>Welcome back, <%= @user.username %>!</h1>

<div class="profile">
  <br>
  <h3>Ready to play? Click Join Game!</h3>
  <br>
  <br>
    <h2><%= link_to 'Join Game', join_game_path, method: 'POST' %></h2>
  <br>
  <div class="user_stats">
    <h3>Your Stats</h3><br>
    <h3>Wins: <%= @wins %></h3><br>
    <h3>Losses: <%= @losses %></h3><br>
    <h3>Win-Loss Ratio: <%= @ratio %></h3>
    <ol><br>
      <h3>Your Last 20 Games:</h3>
        <% @user.last_20_games.each do |game| %>
          <li>Game ID #<%= game.id %>: <%= User.find(game.player_one_id).username %> VS. <%= User.find(game.player_two_id).username %></li>
          <p>Winner: <%= User.find(game.winner_id).username %></p>
         <% end %>
    </ol>
  </div>
</div>

