<div id="game-container">
  <h1>Temporary Game Template:</h1>
    <p>This is a game with the unique id of <%= @game.id %>.</p>
    <p>Player One is <%= @game.player_one.username %></p>
    <p>Player Two is <%= @game.player_two.username %></p>


    <p>New Game State: <%= game_state.player_one %></p>

    <p><%= @game_data %></p>

</div>
