<div id="game-container">
  <h1>Temporary Game Template:</h1>
    <p>This is a game with the unique id of <%= @game.id %>.</p>
    <p>Player One is <%= @game.player_one.username %></p>
    <p>Player Two is <%= @game.player_two.username %></p>



    <p>New Game State: <%= game_state.player_one %></p>

    <p>Player one ID: <%= @game_engine.player_one.id %></p>
    <br>

    <h1>player one deck:</h1>
    <% @game_engine.player_one_deck.list.each do |card| %>
      <li><%= card.name %>, <%= card.id %></li>
    <% end %>
    <br>

    <p>Player Two ID:<%= @game_engine.player_two.id %></p>
    <br>

    <h1>player Two deck:</h1>
    <% @game_engine.player_two_deck.list.each do |card| %>
      <li><%= card.name %>, <%= card.id %></li>
    <% end %>
    <br>



    <h1>Player one hand: </h1>
    <% @game_engine.player_one_hand.each do |card| %>
      <li><%= card.name %>,<%= card.id %></li>
    <% end %>
    <br>

    <h1>Player two hand: </h1>
    <% @game_engine.player_two_hand.each do |card| %>
      <li><%= card.name %>,<%= card.id %></li>
    <% end %>
    <br>




</div>
