<div class="card">
  <h2><%= @card.name %></h2>
  <div class = "card_pic">
    <img src="/<%= @card.picture_url %>/", class="portrait">
  </div>

  <p><%= @card.description %></p>
  <p>Strength: <%= @card.strength %></p>
  <p>Intelligence: <%= @card.intelligence %></p>
  <p>Charisma: <%= @card.charisma %></p>
</div>
