<div class="card">
  <span class='name'><h2><%= @card.name %></h2></span>
  <div class = "card_pic">
    <img src="<%= @card.picture_url %>", class="portrait">
  </div>
  <h2>Bio:</h2>
    <span class='description'>
      <p><%= @card.description %></p>
    </span>
    <h2>Strength:
      <span class='strength'> <%= @card.strength %></span>
    </h2>
    <h2>Intelligence:
    <span class='intelligence'><%= @card.intelligence %></span>
    </h2>
    <h2>Charisma:
    <span class='charisma'><%= @card.charisma %></span>
    </h2>
</div>
