<div class="card">
  <h2><%= @card.name %></h2>
  <div class = "card_pic">
    <img src="<%= @card.picture_url %>", class="portrait">
  </div>
  <h2>Bio:</h2>
    <p><%= @card.description %></p>
    <h2>Strength:</h2> <p><%= @card.strength %></p>
    <h2>Intelligence:</h2><p><%= @card.intelligence %></p>
    <h2>Charisma:</h2> <p><%= @card.charisma %></p>
</div>
