
    <div class="three columns">
      <div class="card_static" id='1'>
        <span class='name'><%= @card.name %></span>
        <span class='picture'>
          <div class = "card_pic">
            <img src="<%= @card.picture_url %>">
          </div>
        </span>
          <div class='description'>
            <p><%=@card.description %></p>
          </div>
          <h2>Strength:
          <span class='strength'><%= @card.strength %></span></h2>
          <h2>Intelligence:
          <span class='intelligence'><%= @card.intelligence %></span></h2>
          <h2>Charisma:
          <span class='charisma'><%= @card.charisma %></span></h2>

      </div>
      <%= button_to "+", add_card_path(card_id: @card), class: "button-primary", method:"POST" %>
    </div>




