<div class="new_deck">
<%= flash.now[:welcome] %>
<%= flash.now[:error] %>

<h2>Create a New Deck!</h2>
<br>
<%= form_for @deck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create Deck" %>

<% end %>
</div>