<div>
<ol>
<% @deck.cards.each do |card| %>
<li>
  <%= link_to card.name, card_path(card) %>
  <%= link_to "Remove Card From Deck", remove_card_path(card_id: card), method:"DELETE" %>
</li>

<% end %>
</ol>
<%= link_to "Delete This Deck?", deck_path(@deck), method: "DELETE" %>
</div>

<div>
<h2>Your Cards</h2>
<ol>
<% @cards.each do |card| %>
<li>
<%= link_to card.name, card_path(card) %>
<%= link_to "Add Card to Deck", add_card_path(card_id: card), method:"POST" %>
</li>
<% end %>
</ol>
</div>